.table-wrapper .btn-toolbar{display:none;}

.selectlist {list-style: none;padding: 10px;}
.selectlist li label {font-size:16px;}
.selectlist li label input[type=checkbox]{width:16px;height:16px;}

tr.embargo a, tr.embargo{color:#ff9300 !important;}	
tr.editing{background-color:mistyrose;}
tr.desking{background-color:aliceblue;}
tr.desking a, tr.desking{color:#00f !important;}
tr.saved{background-color:#fdf9e3;}
tr.desking a{color:#00f !important;}

.date-td {
    width: 100px;
    white-space: break-spaces !important;
    padding: 1px !important;
    vertical-align: middle !important;
}

.bd-1-force{border: 1px solid #e3e3e3 !important;}

.panel-facebook,.panel-facebook>.panel-heading{background-color:#4267b2 !important;border-color:#4267b2 !important;}
.panel-naver,.panel-naver>.panel-heading{background-color:#00c73c !important;border-color:#00c73c !important;}
.panel-kakao,.panel-kakao>.panel-heading{background-color:#ffcc00 !important;border-color:#ffcc00 !important;}
.panel-twitter,.panel-twitter>.panel-heading{background-color:#1da1f2 !important;border-color:#1da1f2 !important;}

.tx-3em{font-size:3em;}

.wd-120{width:120px;}

.dashborder {
    border: 1px dashed #ddd !important;
    width: 98%;
    text-align: center;
    margin: 0 0 10px 0;
}


.trash-icon{
	position: absolute;
	top: 25px;
	padding: 5px;
	left: 10px;
	z-index: 20;
	color: #ed1231;
}


/* ÀÛ¾÷ Áß ÆË¾÷ */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: none;
  z-index: 999;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  text-align:center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin:auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.overlay-popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}